<h1>Login - Destilaria Vintage & Cia</h1>

<div class="form-container">
  <form (ngSubmit)="onLogin()">
    <label for="username">Usuário:</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      name="username"
      placeholder="Digite: admin"
      required
    />

    <label for="password">Senha:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Digite: 123"
      required
    />

    <button type="submit">Entrar</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>

  <a routerLink="cadastro">Não tem conta? Criar conta</a>

</div>
